@import "tailwindcss";
@plugin "daisyui" {
  themes: light, dark --prefersdark, black;
}

@plugin "daisyui/theme" {
  name: "black";
  default: true;
  --color-primary: "rgb(29, 155, 240)";
  --color-secondary: "rgb(24, 24, 24)";
}



#root {
  padding: 0 ;
  margin: 0 ;
}